<div>
  <h3>Live WebRTC Stream</h3>
  <iframe data-bind="attr: { src: streamSrc }" width="640" height="360" allow="autoplay" frameborder="0"></iframe>
</div>
<button class="btn btn-success" data-bind="click: startRecording">Start Recording</button>
<button class="btn btn-danger" data-bind="click: stopRecording">Stop Recording</button>
