<h3>OctoStream Control Settings</h3>
<div class="form-group">
  <label for="stream_url">Stream URL</label>
  <input type="text" id="stream_url" name="stream_url" class="form-control" data-bind="value: settings.stream_url"/>
</div>
<div class="form-group">
  <label for="resolution">Resolution</label>
  <input type="text" id="resolution" name="resolution" class="form-control" data-bind="value: settings.resolution"/>
</div>
